body{
    background-color: rgb(180, 35, 35);
} 
html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
body {
    background-color: blue;
}
#FirstPost {
    background-color: blueviolet;
}
#SecondPost {
    background-color: cornsilk;
}
#ThirdPost {
    background-color: darkorange;
} 
* {
    margin: 0; /* внешний отступ. сброс*/
}
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* стиль шрифта */
}
body {
    background-color: rgb(225, 225, 225); /* цвет фона #eeeeee */
}
main {
    width: 70%; /* ширина 70% от родительского элемента */
    background-color: white;
    box-shadow: 0px 15px 1px rgb (0 , 0 ,0 , 0 , 3 );
}
@font-face { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    src: url(./Roboto-Bold.ttf);
}
h1 { 
    text-align: center; 
    margin-bottom: 20px;
}    width: 100%;
    height: auto;
}
p {
    font-size: 20px;
    margin-bottom: 15px;
div { 
    width: 80%;
    margin: auto;
}
img {

}body{
    background-color: rgb(180, 35, 35);
} 
html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
body {
    background-color: blue;
}
#FirstPost {
    background-color: blueviolet;
}
#SecondPost {
    background-color: cornsilk;
}
#ThirdPost {
    background-color: darkorange;
} 
* {
    margin: 0; /* внешний отступ. сброс*/
}
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* стиль шрифта */
}
body {
    background-color: rgb(225, 225, 225); /* цвет фона #eeeeee */
}
main {
    width: 70%; /* ширина 70% от родительского элемента */
    background-color: white;
    box-shadow: 0px 15px 1px rgb (0 , 0 ,0 , 0 , 3 );
}
@font-face { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    src: url(./Roboto-Bold.ttf);
}
h1 { 
    text-align: center; 
    margin-bottom: 20px;
}    width: 100%;
    height: auto;
}
p {
    font-size: 20px;
    margin-bottom: 15px;
div { 
    width: 80%;
    margin: auto;
